.warn {
    background-color: lightgrey;
}

.warn1 {
    background-color: lightblue;
}

.warn2 {
    background-color: yellow;
}

.warn3 {
    background-color: green;
}

.warn4 {
    background-color: lightblue;
}

.warn5 {
    background-color: blue;
}

.warn6 {
    background-color: purple;
}